{% extends 'layout.html' %}

{% block content %}
<h1>Add Entry</h1>
<form action="" method="POST" role="form">
  <div class="form-group">
    <label for="title">Title</label>
    <input id="title" name="title" type="text" class="text form-control"
      value="" placeholder="Entry title" required>
  </div>
  <div class="form-group">
    <label for="content">Content</label>
    <textarea name="content" placeholder="Entry content" id="content"
      rows="20" class="form-control" required></textarea>
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>
{% endblock %}
