{% import 'macros.html' as macros %}
{% extends 'layout.html' %}

{% block content %}
<h1>Login</h1>
<form action="" method="POST" role="form">
  {{ form.csrf_token }}
  <div class="form-group">
    {{ form.email.label }}
    {{ form.email(class="text form-control", placeholder='Email', required=True) }}
    {{ macros.field_errors(form.email) }}
  </div>
  <div class="form-group">
    {{ form.password.label }}
    {{ form.password(rows='20', placeholder='Password', id='password', class='form-control', required=True) }}
    {{ macros.field_errors(form.password) }}
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>
{% endblock %}
